:host {
    display: block;
    min-width: 60vw;
}

h3 {
    margin-bottom: 0;
    font-size: 18px;
    color: var(--label-color);
}

mat-selection-list {
    display: flex;
    flex-wrap: wrap;
    ::ng-deep {
        mat-list-option {
            width: 50% !important;
            min-width: 175px;
            .mat-list-item-content {
                flex-direction: row !important;
                mat-pseudo-checkbox {
                    margin-left: 8px;
                    margin-right: 8px;
                }
            }
        }
    }
}
