<div class="cont">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-5 info">
                <img src="./assets/imgs/app-logo3.png" alt="">
                <h1>
                    {{ 'loginTitle1' | translate }}
                </h1>
                <p>
                   {{ 'loginTitle2' | translate }}
                </p>
            </div>
            <div class="col-xl-2 d-none d-xl-block "></div>

            <div class="col-md-6 col-xl-5" *ngIf="formType == 'form' ">  
                <form [formGroup]="form" (ngSubmit)="send()">
                    <mat-card>
                        <mat-card-content>
                            <h4>
                               نسيت كلمة المرور
                            </h4>
                            <p>
                               ادخل رقم الهوية     
                            </p>
                            <ng-container >
                                <div class="form-group mb-4 mt-4">
                                    <input validate-onblur type="text" [placeholder]=" 'IDNumber' | translate " formControlName="national_id">
                                </div>
                            </ng-container>

                            <div class="actions">
                                <button mat-raised-button class="primary" [disabled]="isSending"> 
                                      ارسال 
                                </button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </form>
            </div>

            <div class="col-md-6 col-xl-5" *ngIf="formType != 'form' "> 
                <form [formGroup]="form" (ngSubmit)="forget()">
                    <mat-card>
                        <mat-card-content>
                          
                            <h4>
                              إعادة تعيين كلمة المرور
                            </h4>
                            <p>
                               ادخل رقم الهوية و كلمة المرور الجديدة للمتابعة
                            </p>
                            <ng-container >
                                <div class="form-group mb-4 mt-4">
                                    <input validate-onblur type="text" [placeholder]=" 'IDNumber' | translate " formControlName="national_id">
                                </div>
                            </ng-container>

                            
                            <div class="form-group mb-4">
                                <input validate-onblur type="text" [placeholder]=" 'Password' | translate  " type="password" formControlName="password">
                            </div>

                            
                            <div class="form-group mb-4">
                                <input validate-onblur type="text" [placeholder]=" 'ConfirmPassword' | translate  " type="password" formControlName="password_confirmation">
                            </div>
    
    
                            <div class="actions">
                                <button mat-raised-button class="primary" [disabled]="isSending"> 
                                    تعيين كلمة مرور جديدة
                                </button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </form>
            </div>
            
        </div>
    </div>
</div>