{
    "openapi": "3.0.0",
    "info": {
        "title": "L5 OpenApi",
        "description": "L5 Swagger OpenApi description",
        "contact": {
            "email": "darius@matulionis.lt"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0",
        "x-logo": {
            "url": "https://via.placeholder.com/190x90.png?text=L5-Swagger"
        }
    },
    "servers": [
        {
            "url": "https://app.agm-sa.net/api"
        }
    ],
    "paths": {
        "provider/companies": {
            "get": {
                "tags": [
                    "Provider Companies"
                ],
                "summary": "Get all companies ",
                "operationId": "d9533a34609a19e1d7a721a1870fd34f",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "data": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/companies/{id}": {
            "get": {
                "tags": [
                    "Provider Companies"
                ],
                "summary": "Get company ",
                "operationId": "0183af0d166e9361b24aacd53b6af3bd",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "company": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Provider Companies"
                ],
                "summary": "Delete company ",
                "operationId": "7153d3f0117930ed808cb094153de9fa",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "deleted_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/companies/{id}/payments": {
            "get": {
                "tags": [
                    "Provider Companies"
                ],
                "summary": "Get company payment",
                "operationId": "3c6650ca4e8cdec864694528004617d9",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Parameter with mutliple examples",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "job": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/companies/{id}/admit": {
            "put": {
                "tags": [
                    "Provider Companies"
                ],
                "summary": "Admit Company ",
                "operationId": "c238dc216d5f53de1ef39b1413fb92a1",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "job": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/companies/{id}/ban": {
            "put": {
                "tags": [
                    "Provider Companies"
                ],
                "summary": "Ban company ",
                "operationId": "54bd701208b544e20a2cb4c9d8378dfb",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "job": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/companies/payments/{id}": {
            "put": {
                "tags": [
                    "Provider Companies"
                ],
                "summary": "Approve company payment",
                "operationId": "b04d32450e21a7585b454157b0c1e564",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "payment id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "status": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "job": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/pending_companies": {
            "get": {
                "tags": [
                    "Provider Companies"
                ],
                "summary": "Get all pending companies ",
                "operationId": "58d3eab5dc1c0e3c36cb4cdc1b5bdf08",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "data": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/banned_companies": {
            "get": {
                "tags": [
                    "Provider Companies"
                ],
                "summary": "Get all banned companies ",
                "operationId": "c1bc39c91cfa2cf7ffc0c35022af0d7d",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "data": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/courses": {
            "get": {
                "tags": [
                    "ProviderCourses"
                ],
                "summary": "Get all courses ",
                "operationId": "50075b2eccb21a6a01a1a5508e285fec",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "permissions": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/courses": {
            "post": {
                "tags": [
                    "ProviderCourses"
                ],
                "summary": "Create new course ",
                "operationId": "a984b833eaabfade02c05c36e409f88d",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "course_title": {
                                        "type": "string"
                                    },
                                    "course_description": {
                                        "type": "string"
                                    },
                                    "period": {
                                        "type": "string"
                                    },
                                    "price": {
                                        "type": "string"
                                    },
                                    "course_contract": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "created_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/courses/{id}": {
            "get": {
                "tags": [
                    "ProviderCourses"
                ],
                "summary": "Get Course ",
                "operationId": "d212c75e58c2100fc9bdd153252e3443",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "task": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "ProviderCourses"
                ],
                "summary": "Update course ",
                "operationId": "96f4d9007bd4f87a5fda3822ea38483c",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "course_title": {
                                        "type": "string"
                                    },
                                    "course_description": {
                                        "type": "string"
                                    },
                                    "period": {
                                        "type": "string"
                                    },
                                    "price": {
                                        "type": "string"
                                    },
                                    "course_contract": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "task": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/course/{id}": {
            "delete": {
                "tags": [
                    "ProviderCourses"
                ],
                "summary": "Delete course ",
                "operationId": "a02b23437feda6a5aef6f21566f40af6",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "deleted_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/employees": {
            "get": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Get all employees ",
                "operationId": "d88199c3bb978acd9cd941877176acb4",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "data": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/employees/{id}": {
            "get": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Get employee ",
                "operationId": "f370d972e3194ccc56d35174226d841b",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "job": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Delete employee ",
                "operationId": "33831c27af9b0082094ca93ebadef0dd",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "deleted_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/employees/{id}/payments": {
            "get": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Get employee payment",
                "operationId": "0e77c9b39dff8acc953f9b87c032ac8b",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Parameter with mutliple examples",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "job": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/employees/payments/{id}": {
            "put": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Approve employee payment",
                "operationId": "bdf75e007e48192f193843678507402d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "payment id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "status": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "job": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/employees/{id}/admit": {
            "put": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Admit employee ",
                "operationId": "d5fad36d10b2140ab5252fc22bb68fc3",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "job": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/employees/{id}/ban": {
            "put": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Ban employee ",
                "operationId": "26e4194fdc4cf4221d6fb97578c96588",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "job": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/employees/{id}/suggestCourses": {
            "put": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Suggest Courses for employee ",
                "operationId": "7744e96c2cb2e1017a8b9a9ccb0f861b",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "course_id": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/candidates": {
            "get": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Get all Candidates ",
                "operationId": "d01dfd1610fd765ea42a20205f0a3919",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "data": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/pending_candidates": {
            "get": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Get all pending candidates ",
                "operationId": "f7e49af00a76644d55cbff927027bb43",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "data": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/banned_employees": {
            "get": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Get all banned employees ",
                "operationId": "ad552d6eae6829c2233d5e0c9be03dc7",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "data": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/banned_candidates": {
            "get": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Get all banned candidates ",
                "operationId": "f9692e27c24d5e7037584702611f55fd",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "data": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/approve_resign/{id}": {
            "put": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Approve resign",
                "operationId": "cac98d28693dd94cfa5c045ecf895729",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "resign id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "job": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/resigns": {
            "get": {
                "tags": [
                    "Provider Employees"
                ],
                "summary": "Get all resigns ",
                "operationId": "ccc028cad248d4edabf9f34ff63ed13a",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "data": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/JobRequests": {
            "get": {
                "tags": [
                    "Provider Job Requests"
                ],
                "summary": "Get all JobRequests ",
                "operationId": "fe1a8cbcfff0c280d340f3bf8ea9ac3b",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "data": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/JobRequests/{id}": {
            "get": {
                "tags": [
                    "Provider Job Requests"
                ],
                "summary": "Get message ",
                "operationId": "cd5149eb10608f27f58ae7a4d19dd4bb",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "JobRequest": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Provider Job Requests"
                ],
                "summary": "Delete message ",
                "operationId": "d5aa42c31bfe24dbd666c1b85924bae5",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "deleted_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/JobRequests/{id}/nominate": {
            "put": {
                "tags": [
                    "Provider Job Requests"
                ],
                "summary": "Nominate Employee for job request ",
                "operationId": "c72fa9c817ec12973799bdfac3fb035e",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "emp_id": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "task": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/JobRequests/{id}/approve": {
            "put": {
                "tags": [
                    "Provider Job Requests"
                ],
                "summary": "approve Job Requests  ",
                "operationId": "225bbe4020f79e2248bf24cd9e065939",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Parameter with mutliple examples",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "task": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/JobRequests/search_nominants": {
            "post": {
                "tags": [
                    "Provider Job Requests"
                ],
                "summary": "Search Nominants",
                "operationId": "644668f4f3cb5bed9ccfc6d57cbda7c4",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "job_request_id": {
                                        "type": "string"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "created_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/JobRequests/{id}/jobNominants": {
            "get": {
                "tags": [
                    "Provider Job Requests"
                ],
                "summary": "Job Nominants ",
                "operationId": "393636c3cc152297a6dab39d06fa51b6",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "JobRequest": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/insurances/{id}/approve": {
            "put": {
                "tags": [
                    "Provider Job Requests"
                ],
                "summary": "approve_insurance  ",
                "operationId": "8e0fb4d1ca05831b9dfe90613b7cf83d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "insurance id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "task": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/jobs": {
            "get": {
                "tags": [
                    "ProviderJobs"
                ],
                "summary": "Get all jobs ",
                "operationId": "9ce094dfc245d20d962c4c84f25cc557",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "data": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/jobs": {
            "post": {
                "tags": [
                    "ProviderJobs"
                ],
                "summary": "Create new job ",
                "operationId": "dbb7daebfb656c7d777010b304c489b3",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "job_title": {
                                        "type": "string"
                                    },
                                    "job_description": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "created_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/jobs/{id}": {
            "get": {
                "tags": [
                    "ProviderJobs"
                ],
                "summary": "Get Job ",
                "operationId": "f6947b7845e8130cbeaed604135de3ec",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "job": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "ProviderJobs"
                ],
                "summary": "Update job ",
                "operationId": "46f7cf66302ace533d4b7833d56d243b",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "job_title": {
                                        "type": "string"
                                    },
                                    "job_description": {
                                        "type": "string"
                                    },
                                    "status": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "task": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ProviderJobs"
                ],
                "summary": "Delete job ",
                "operationId": "8edafe482d4b2f85bea22295c52666dc",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "deleted_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/jobs/assign_tasks": {
            "post": {
                "tags": [
                    "ProviderJobs"
                ],
                "summary": "assign tasks to job ",
                "operationId": "4cb9df371550cc46495685bf1a9340e2",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "tasks": {
                                        "type": "string"
                                    },
                                    "job_id": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "created_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/emp_payments": {
            "get": {
                "tags": [
                    "Provider Payments"
                ],
                "summary": "Get Employee Payments ",
                "operationId": "d91edcab0979860da9c924579d4b2023",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true,
                                            "code": 200,
                                            "payments": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/company_payments": {
            "get": {
                "tags": [
                    "Provider Payments"
                ],
                "summary": "Get Company Payments ",
                "operationId": "e691e4c50c4e9684a10f97b246e2a566",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true,
                                            "code": 200,
                                            "payments": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/tasks": {
            "get": {
                "tags": [
                    "ProviderTasks"
                ],
                "summary": "Get all tasks ",
                "operationId": "fc0ab99879ea2fee2bc856269e6dfcc9",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "permissions": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/tasks": {
            "post": {
                "tags": [
                    "ProviderTasks"
                ],
                "summary": "Create new task ",
                "operationId": "bdab6667e43ebfef68100429c0821ab6",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "task_title": {
                                        "type": "string"
                                    },
                                    "task_description": {
                                        "type": "string"
                                    },
                                    "task_period": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "created_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/tasks/{id}": {
            "get": {
                "tags": [
                    "ProviderTasks"
                ],
                "summary": "Get Task ",
                "operationId": "0d0fa8096d32888456881160baa29d6d",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "task": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "ProviderTasks"
                ],
                "summary": "Update Task ",
                "operationId": "079332f322f07a922335498a955c0ae7",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "task_title": {
                                        "type": "string"
                                    },
                                    "task_description": {
                                        "type": "string"
                                    },
                                    "task_period": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "task": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ProviderTasks"
                ],
                "summary": "Delete task ",
                "operationId": "0a1c21521dfe69930d66cb6651347f11",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "deleted_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/registerEmployee": {
            "post": {
                "tags": [
                    "Register"
                ],
                "summary": "Register as Employee ",
                "operationId": "95cccda78e2115178a1aaf0eff34a2b9",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name_ar": {
                                        "type": "string"
                                    },
                                    "name_en": {
                                        "type": "string"
                                    },
                                    "user_name": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "password_confirmation": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "mobile": {
                                        "type": "string"
                                    },
                                    "national_id": {
                                        "type": "string"
                                    },
                                    "qualification": {
                                        "type": "string"
                                    },
                                    "gender": {
                                        "description": "[male, female]",
                                        "type": "string"
                                    },
                                    "martial_status": {
                                        "description": "[married,single,devorced,widow]",
                                        "type": "string"
                                    },
                                    "bank_name": {
                                        "type": "string"
                                    },
                                    "bank_ipan": {
                                        "type": "string"
                                    },
                                    "job_id": {
                                        "type": "string"
                                    },
                                    "qualification_file": {
                                        "type": "string"
                                    },
                                    "national_address_file": {
                                        "type": "string"
                                    },
                                    "bank_ipan_file": {
                                        "type": "string"
                                    },
                                    "national_id_file": {
                                        "type": "string"
                                    },
                                    "secret_approvement_file": {
                                        "type": "string"
                                    },
                                    "registered_in_remote_work_platform": {
                                        "type": "boolean"
                                    },
                                    "user_type": {
                                        "description": "[employee,company]",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "created_successfully",
                                            "employee": [],
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/registerCompany": {
            "post": {
                "tags": [
                    "Register"
                ],
                "summary": "Register as Company ",
                "operationId": "4077868b62e78cd76e268d676936f1d1",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name_ar": {
                                        "type": "string"
                                    },
                                    "name_en": {
                                        "type": "string"
                                    },
                                    "user_name": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "password_confirmation": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "mobile": {
                                        "type": "string"
                                    },
                                    "commercial_record": {
                                        "type": "string"
                                    },
                                    "national_address_building_no": {
                                        "type": "string"
                                    },
                                    "national_address_postal": {
                                        "type": "string"
                                    },
                                    "national_address_extra": {
                                        "type": "string"
                                    },
                                    "labor_office_company_id": {
                                        "type": "string"
                                    },
                                    "insurance_office_company_id": {
                                        "type": "string"
                                    },
                                    "commercial_record_file": {
                                        "type": "string"
                                    },
                                    "tax_registration_certificate_file": {
                                        "type": "string"
                                    },
                                    "national_address_file": {
                                        "type": "string"
                                    },
                                    "user_type": {
                                        "description": "[employee,company]",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "created_successfully",
                                            "success": true
                                        }
                                    },
                                    "bool": {
                                        "summary": "A boolean value.",
                                        "value": false
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Login"
                ],
                "summary": "Login",
                "operationId": "67d6d0fdd54fba132e1b6f55ca254183",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "national_id": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "result": "success",
                                            "data": []
                                        }
                                    },
                                    "bool": {
                                        "summary": "A boolean value.",
                                        "value": false
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/provider/profile": {
            "get": {
                "tags": [
                    "Provider"
                ],
                "summary": "Get Provider Profile ",
                "operationId": "1b238ad518a572c7631c0cbc2d85b970",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true,
                                            "code": 200,
                                            "user": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "provider/updateProfile": {
            "post": {
                "tags": [
                    "Misc"
                ],
                "summary": "",
                "operationId": "f516620a7e4da08994d9b959852280f7",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "mobile": {
                                        "type": "string"
                                    },
                                    "national_id": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "created_successfully",
                                            "success": true,
                                            "code": 200,
                                            "subscription": {
                                                "subscription_type": "membership",
                                                "is_approved": 0,
                                                "payment_file": "files\\/63ee16d9e2e79_1676547801_ektsab_wireframe-(1).pdf",
                                                "payment_amount": "500",
                                                "year": "2023",
                                                "month": "02",
                                                "emp_id": 10,
                                                "updated_at": "2023-02-16T11:43:21.000000Z",
                                                "created_at": "2023-02-16T11:43:21.000000Z",
                                                "id": 6
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/profile": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Get Company Profile ",
                "operationId": "bdbd7bb520a89f33b9e37f005564dc8e",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "success": true,
                                            "code": 200,
                                            "user": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "companies/updateProfile": {
            "post": {
                "tags": [
                    "Companies"
                ],
                "summary": "Save company Profile data",
                "operationId": "7fb7bb09f018d3fbf7ce1e58a9a5a67b",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name_ar": {
                                        "type": "string"
                                    },
                                    "name_en": {
                                        "type": "string"
                                    },
                                    "email": {
                                        "type": "string"
                                    },
                                    "password": {
                                        "type": "string"
                                    },
                                    "mobile": {
                                        "type": "string"
                                    },
                                    "commercial_record": {
                                        "type": "string"
                                    },
                                    "national_address_building_no": {
                                        "type": "string"
                                    },
                                    "national_address_postal": {
                                        "type": "string"
                                    },
                                    "national_address_extra": {
                                        "type": "string"
                                    },
                                    "labor_office_company_id": {
                                        "type": "string"
                                    },
                                    "insurance_office_company_id": {
                                        "type": "string"
                                    },
                                    "commercial_record_file": {
                                        "type": "string"
                                    },
                                    "tax_registration_certificate_file": {
                                        "type": "string"
                                    },
                                    "national_address_file": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "updated_successfully",
                                            "success": true,
                                            "code": 200,
                                            "subscription": {
                                                "subscription_type": "membership",
                                                "is_approved": 0,
                                                "payment_file": "files\\/63ee16d9e2e79_1676547801_ektsab_wireframe-(1).pdf",
                                                "payment_amount": "500",
                                                "year": "2023",
                                                "month": "02",
                                                "emp_id": 10,
                                                "updated_at": "2023-02-16T11:43:21.000000Z",
                                                "created_at": "2023-02-16T11:43:21.000000Z",
                                                "id": 6
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "companies/emp_requests": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "List Emp Requests",
                "operationId": "8118de6513caf0625c1f2a2b2715a544",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "",
                                            "success": true,
                                            "code": 200,
                                            "data": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Companies"
                ],
                "summary": "Request Employees ",
                "operationId": "f41f658dec3838fa99c88256eaddb887",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "job_id": {
                                        "required": true,
                                        "type": "integer"
                                    },
                                    "count": {
                                        "type": "integer"
                                    },
                                    "notes": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "created_successfully",
                                            "success": true,
                                            "code": 200,
                                            "JobRequest": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "companies/emp_requests/{id}": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Get Employee Request ",
                "operationId": "56c9164ffe0463c1aae000a96e5d8ba7",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "",
                                            "success": true,
                                            "code": 200,
                                            "JobRequest": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Companies"
                ],
                "summary": "Update Emp Request",
                "operationId": "b6aacce83b8cb74a0713161e9802e763",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "job_id": {
                                        "required": true,
                                        "type": "integer"
                                    },
                                    "count": {
                                        "type": "integer"
                                    },
                                    "notes": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "updated_successfully",
                                            "success": true,
                                            "code": 200,
                                            "JobRequest": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Companies"
                ],
                "summary": "Delete emp request ",
                "operationId": "a8ecfb63c69bb1bf18d0c521d8ff1385",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "deleted_successfully",
                                            "success": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "companies/list_emp_request_nominations/{id}": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "List Emp Request Nomintaions",
                "operationId": "4cf2ba058161059025985f117a20bdf2",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "",
                                            "success": true,
                                            "code": 200,
                                            "data": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "companies/admit_emp_request_candidate/{id}": {
            "put": {
                "tags": [
                    "Companies"
                ],
                "summary": "Admit Emp Request candidate",
                "operationId": "28f26ee68a9b51e8b394a2158b7cdd25",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Parameter with mutliple examples",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "examples": {
                            "int": {
                                "summary": "An int value.",
                                "value": "1"
                            }
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "response": {
                                        "description": "[accepted,rejected]",
                                        "type": "string"
                                    },
                                    "rejection_reason": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
                                        "value": {
                                            "response": "updated_successfully",
                                            "success": true,
                                            "code": 200,
                                            "JobRequest": []
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/companies/attach_insurance_file": {
            "post": {
                "tags": [
                    "Companies"
                ],
                "summary": "Attach Insurance File",
                "operationId": "84b923eb146fd4454a8a66d6c6e388fd",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "job_request_id": {
                                        "type": "string"
                                    },
                                    "company_file": {
                                        "type": "string"
                                    },
                                    "emp_id": {
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {},
                                "examples": {
                                    "result": {
                                        "summary": "An result object.",
[...]
