@import "../../../themes/mixins";

:host {
    angular2-smart-table ::ng-deep {
        // angular2-smart-table {
            text-align: inherit;
            thead {
                tr {
                    th {
                        background: var(--main-color);
                        text-align: inherit;
                        &.actions {
                            width: 10%;
                        }
                    }

                    &:first-of-type {
                        th:first-of-type {
                            border-radius: 0 10px 0 0;
                        }
                        th:last-of-type {
                            border-radius: 10px 0 0 0;
                        }
                    }
                    @include nb-ltr(){
                        &:first-of-type {
                            th:first-of-type {
                                border-radius: 10px 0 0 0;
                            }
                            th:last-of-type {
                                border-radius: 0 10px 0 0;
                            }
                        }
                    }
                }
            }
        // }
        tbody {
            tr {
                border: 1px solid #E6E9F5;
            }
            tr:nth-of-type(odd) {
                background: rgb(214,235,247, .3);
            }
        }
        div.icons {
            display: flex;
            align-items: center;
            i {
                font-size: 25px !important;
            }
            i.fa.fa-eye {
            font-size: 18px !important;
            }
            i:nth-of-type(2) {
            margin: 0 12px;
            }
        }
        .list-actions-btns {
            display: flex;
            align-items: center;
            button, a {
                height: 40px;
                width: 40px;
                padding: 0;
                min-width: 40px;
                font-size: 22px;
            }
            // justify-content: center;
        }
    }
}


.table-pagination-controls {
    display: flex;
    // align-items: center;
    justify-content: center;
    margin-top: 32px;
    nb-select ::ng-deep {
        button {
            min-width: auto;
        }
    }

    pagination-controls ::ng-deep {
        ul {
            padding: 0;
            margin-bottom: 0;
        }
    }
}

ng-select ::ng-deep{
    width: 80px;
    padding-bottom: 0;
    .ng-select-container{
        min-height: 52px !important;
    }
}

section {
    form {
        .form-group {
            input {
                border-radius: 8px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
        .btns-cont {
            button {
                width: 100px;
                border-radius: 50px;

                &.mat-primary {
                    background: var(--main-color);
                }
            }
        }
    }
    mat-card {
        margin-bottom: 16px;
        background: var(--light-blue);
        mat-card-content {
            padding-top: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            h3 {
                margin-bottom: 0;
                margin-top: 0;
            }
            p {
                margin-top: 0;
            }
        }
        mat-card-actions {
            margin-bottom: 0;
            padding-top: 6px;
            margin-top: 16px;
            display: flex;
            justify-content: center;
            border-top: 1px solid #cecece;
        }
    }
}

.no-data {
    text-align: center;
}