label[for=task_period] span{
    font-size: 11px;
    color: #b6b918;
    font-style: italic;
}


.addAttachBtn{
    background: #dfdfdf;
    margin-left:10px;
}

.saveAttachBtn{
    background:rgb(90, 148, 90);;
    color:rgb(255, 255, 255);
    margin-left:10px;
}

h4.bold{
    font-weight:bold;
}