<h2 mat-dialog-title>
    تفاصيل الرسالة
</h2>
<mat-dialog-content class="mat-typography">
    <div class="row">
       <div class="col-md-6">
            <h4>
                المرسل
            </h4>
            <p>
                شركة لدن
            </p>
        </div>
        <div class="col-md-6">
            <h4>
                عنوان الرسالة
            </h4>
            <p>
                الموافقة على عقد التأمينات
            </p>
        </div>
        

        <div class="col-md-12">
            <h4>
                الرسالة
            </h4>
            <p>
                يرجى ارسال عقد التأمينات للمضي قدما في مسوغات التعيين
            </p>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="actions">
    <button mat-button mat-dialog-close class="cancel" cdkFocusInitial>
        إغلاق
    </button>
</mat-dialog-actions>