:root {
  /*   --main-color:#208BE1;
    --main-color-rgb:32, 139, 225;
    --text-color:#272932;
    --par-color:#777777;
    --input-color:#1A71B7;
    --dark-blue : #1A62B8;
    --label-color:#4B5696;
    --h-color:#0F1E73;
    --check-color:#44CF6C;
    --bg-color:#15479C;
    --icon-color:#004085;
    --light-blue:#ECF5FA;
    --invalid-color:#DD3333; */

    //-previous-color:#2f3571;

    --main-color:#00b3fe;
    --main-color-rgb:32, 139, 225;
    --text-color:#272932;
    --par-color:#777777;
    --input-color:#1A71B7;
    --dark-blue : #2f3571;
    --label-color:#4B5696;
    --h-color:#0F1E73;
    --check-color:#01f3b6;
    --bg-color:#2f3571;
    --icon-color:#2f3571;
    --light-blue:#ECF5FA;
    --invalid-color:#DD3333;

}