<form [formGroup]="form" (ngSubmit)="save()">
    <h2 mat-dialog-title>
       ترشيح دورة للموظف
    </h2>
    <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-md-12 form-group mb-4">
                <ng-select #select (search)="select.open();OnSearch($event)"
                (blur)="selectComp.close()"
                formControlName="course_id">
                    <ng-option *ngFor="let course of courses" [value]="course.id">
                        {{course.course_title}}
                    </ng-option>
                </ng-select>
            </div>   
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" class="actions">
        <button type="button" mat-button mat-dialog-close class="cancel">
            {{ 'Back' | translate }}
        </button>
        <button [disabled]="isSaving" mat-button cdkFocusInitial class="save" *ngIf="!form.disabled" >
           حفظ
        </button>
    </mat-dialog-actions>
</form>