.cancel {
    color: #DD3333;
    border-color: #DD3333;
}

label {
    color: #979797;
}

p {
    color: var(--main-color);
    margin-bottom: 0;
    margin-top: 5px;
}

:host {
    validation-error {
        .invalid-feedback {
            margin-top: -10px;
        }
    }
}