<!-- <button mat-button class="me-2"  (click)="action.emit({mode:'permissions', rowData:rowData})">
    <mat-icon class="permissions">manage_accounts</mat-icon>
</button>

<button mat-button class="me-2"  (click)="action.emit({mode:FormMode.Update, rowData:rowData})">
    <mat-icon color="primary">edit</mat-icon>
</button>

<button mat-button class="me-2" (click)="action.emit({mode:FormMode.Delete, rowData:rowData})">
    <mat-icon color="warn">delete</mat-icon>
</button> -->

<button mat-button  (click)="parent.openPermissions(rowData)" *appPerm=" 'edit_role' ">
    <mat-icon class="permissions">manage_accounts</mat-icon>
</button>
<ng-container *ngIf="rowData.name !== 'super_admin'">
    <button mat-button  (click)="parent.openDialog(FormMode.Update,rowData )" *appPerm=" 'edit_role' ">
        <mat-icon color="primary">edit</mat-icon>
    </button>
    <button mat-button (click)="parent.popDelete(rowData)" *appPerm=" 'delete_role' ">
        <mat-icon color="warn">delete</mat-icon>
    </button>
</ng-container>

