<a mat-button class="me-2" [routerLink]="['/company/job-applications', rowData.id, 'applicants']" target="_blank">
    <mat-icon color="primary">description</mat-icon>
</a>

<button mat-button class="me-2"  (click)="parent.openDialog(rowData,FormMode.Update)">
    <mat-icon color="primary">edit</mat-icon>
</button>

<button mat-button class="me-2"  (click)="parent.popDelete(rowData)">
    <mat-icon color="warn">delete</mat-icon>
</button>

<button mat-button (click)="parent.openDialog(rowData,FormMode.View)">
    <mat-icon class="eye">visibility</mat-icon>
</button>