<section class="card-cont">
    <h2>
        المهام
    </h2>
    <mat-card>
        <mat-card-header>
            <div class="d-flex align-items-center justify-content-between">
                <div></div>
                <button class="add-btn" mat-raised-button (click)="openDialog()">
                    <mat-icon>add</mat-icon>
                    {{ FormMode.Create | translate }}
                    مهمة
                </button>
            </div>
        </mat-card-header>
        <mat-card-content>
            <app-table #table [settings]="settings" [apiFunc]="apiFunc"></app-table>
        </mat-card-content>
    </mat-card>
</section>

<ng-template #dialog let-ref="dialogRef" let-data>
    <app-task-dialog [ref]="ref" [data]="data.data" [employees]="data.employees" [table]="table" [mode]="data.mode"></app-task-dialog>
</ng-template>