<!-- <nav>
    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <img src="" alt="">
        <div class="d-flex align-items-center justify-content-between">
          <button class="lang" mat-button>
            En
          </button>
          <span class="pipe"></span>
          <button mat-button>
            تسجيل الدخول
            <mat-icon>
              person
            </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </nav>
  
  <section class="main">
    <div class="container">
    
    </div>
  </section>
  
  <footer>
    <div class="container d-flex align-items-center justify-content-between">
      <p>
        جميع الحقوق محفوظة لدى أكتساب © 2023
      </p>
  
  
      <div class="links">
        <a href="/">اتصل بنا</a>
        <a href="/">سياسة الخصوصية</a>
        <a href="/"> الشروط والأحكام </a>
      </div>
    </div>
  </footer> -->